/* Colores principales para usarlos en toda la página */

:root {
    --azul: #151571;
    --blanco: #ffffff;
    --beach: #d5d1d1;
}

/* Estilos básicos para todo el cuerpo de la web */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--blanco);
    color: rgb(54, 34, 126);
    line-height: 1.6;
}

/*Para poner el logo al lado del nombre*/

.logo {
    display: flex;        
    align-items: center;  
    gap: 10px;
}

/* personalización del menu */

.navegación {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(235, 232, 232, 0.6), rgba(255, 254, 254, 0.6)), linear-gradient(45deg, #ffffff, #000000);
    padding: 1rem 2rem;
}



/* Para la lista de las paginas del menu */

.inicio {
    display: flex;
    list-style: none;
    gap: 20px;
}


.inicio-links a:hover {
    color: var(--azul);
    transition: 2s;
}

.redes-sociales {
    display: flex;
    list-style: none;
    gap: 20px;
}

.datos {
    background: var(--beach)
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* El orden de las targetas de "Nuestro servivicio"*/
.grid-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Tamaño y diseño de las cartas de "Nuestros Servicios" */
.card {
    background: var(--beach);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 3px solid var(--azul);
    transition: transform 0.3s; 
}

/*Para que las tarjetas se muevan al pasar el ratón */
.card:hover {
    transform: translateY(-10px); /*Para que se mueva cuando pase el cursor */
}

/* La configuración para el formulario */
form {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #b1acac;
    padding: 20px;
    border-radius: 8px;
}

/* Animación del boton de reserva aparezca al inicio */

@keyframes aparecer {
    from { opacity: 0; transform: translateY(20px); }/* Para que se haga invisible*/
    to { opacity: 1; transform: translateY(0); }/*Para que aparezca al abrir*/
}

/* Ajustes de color y pocición del boton con animación */
.navegación{
    color: var(--azul);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    animation: aparecer 2s ease-in-out; /* La animación para el boton de aparecer al inicio */
}

/* PAGINA CONTACTO */

.navcontactos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(235, 232, 232, 0.6), rgba(255, 254, 254, 0.6)), linear-gradient(45deg, #ffffff, #000000);
    padding: 1rem 2rem;
}

.Contactanos {
    margin: 20px;
    padding: 20px;
    background-color:var(--beach);
    border-radius: 5px;
}


.navcontactoss {
    background-color: var(--azul);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

/* FOOTER */
.redes-footer{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 13px 50px;
}


.navfooter {
    padding: 13px 20px;
}


/* Para ajustar el tamaño para el móvil */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .inicio-links {
        padding: 0;
        margin-top: 10px;
    }
} 